.task {
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  position: relative;
  td {
    border-top: 1px solid rgba(0, 0, 0, 0.151);
    &:first-child {
      border-left: 1px solid rgba(0, 0, 0, 0.151);
    }
    &:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.151);
    }
  }
 
  &__text{
    padding: 15px 20px 15px 30px;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    &_complete {
      text-decoration: line-through;
    }

  }
  &__checkbox {
    margin-right: 15px;
    z-index: 2;
    transform:scale(1.6);
  }
  &__name{
    padding: 15px 20px;
    align-items: center;
  }
  &__email{
    padding: 15px 20px;
    box-sizing: border-box;
    align-items: center;
  }
  &__edit {
    padding: 15px 20px;
    background-color: rgb(116, 116, 197);
    color: white;
    width: 70px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    &_active {
      background: green;
    }
  }
  &__admin-edit {
    position: absolute;
    font-size: 11px;
    background: green;
    border-radius: 50px;
    padding: 2px 5px;
    color: white;
    right: 5px;
    bottom: 1px;
  }
  &__content {
    position: relative;
    display: flex;
    flex: 2;
    input {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &__filter-by {
    p{
      font-size: 16px;
      color: white;
    }
    div {
      background-color: rgb(65, 80, 110);
    }
    &-text {
      box-sizing: border-box;
      position: relative;
      align-items: center;
      white-space: pre-line;
    }
    &-name {
      box-sizing: border-box;
      align-items: center;
    }
    &-email {
      box-sizing: border-box;
      align-items: center;
      word-wrap: break-word;
    }
    &-empty {
      width: 70px;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }
  }
  &__img {
    margin-left: 10px;
  }
}