.task {
  &__filter-by {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    p{
      font-size: 16px;
      color: white;
    }
    div {
      background-color: rgb(65, 80, 110);
    }
    &-text {
      padding: 15px 20px;
      border-right: 1px solid rgba(0, 0, 0, 0.158);
      flex: 2.5;
      min-width: 400px;
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: center;
    }
    &-name {
      padding: 15px 20px;
      border-right: 1px solid rgba(0, 0, 0, 0.158);
      flex: 1;
      min-width: 200px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }
    &-email {
      padding: 15px 20px;
      flex: 1;
      min-width: 200px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }
    &-empty {
      padding: 15px 20px;
      width: 70px;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }
  }
  &__img {
    margin-left: 10px;
  }
}
